<ion-header>
  <ion-navbar color="dark">
    <ion-title>About Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-body">
  <ion-card>
    <ion-card-header>
      <h1>Shiva</h1>
    </ion-card-header>
    <ion-card-content style="color: black">
      Hoy en día el ejercicio se ha convertido en una tendencia, la gente ahora más que nunca está haciendo ejercicio, desde ir al gimnasio a hacer caminatas en el parque más cercano.<br>
      Con este incremento en el ejercicio, la necesidad de que sea diferente y emocionante se ha convertido en una exigencia en la comunidad. La gente quiere una forma más interactiva y divertida de hacer ejercicio.<br>
      El propósito de Shiva es proporcionar a los usuarios una manera interactiva y dinámica de hacer ejercicio. El objetivo de esta pulsera inteligente es proporcionar un dispositivo inteligente que mediante la continua detección del ritmo cardíaco sea capaz de registrar y analizar el pulso del usuario. Dicho dispositivo es capaz de mandar una señal al teléfono inteligente del usuario donde se analizan estos datos y reproducen música de acuerdo al perfil seleccionado, ya sea recreativo o emocional, en una aplicación que permita perfilar a cada usuario para personalizar la experiencia del mismo.
    </ion-card-content>
  </ion-card>
  <br><br>
</ion-content>
